<%= form_with(model: user, data: {controller: 'form'}) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
